.container
  .side-bar
    = render "shared/side-bar"

  .contents
    .upper-content
      .left-header
        .left-header__group-name
          AAA
          %ul.left-header__members
            Members:
            %li.member
              member1
            %li.member
              member2
      .right-header
        .right-header__edit-button
          = link_to edit_group_path(current_user), class:'edit-button' do
            EDIT
    .mid-content
      = render partial: 'message', collection: @messages
    .lower-content
      = form_for [@group, @message] do |f|
        = f.text_field :body, placeholder: 'Type your message here', class: 'lower-content__text'
        .icon-element
          = f.label :image, class: 'icon-element__image' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'invisible'
        = f.submit 'SEND', class: 'lower-content__button'
